---
BasedOnStyle: LLVM
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Left
AlignTrailingComments: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BinPackParameters: 'false'
BreakBeforeBraces: Stroustrup
ColumnLimit: '0'
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
MacroBlockBegin: ^OOVPA_XREF$|^OOVPA_NO_XREF$|^OOVPA_XREF_DETECT$|^OOVPA_NO_XREF_DETECT$|^OOVPA_XREF_EXTEND$|^OOVPA_SIG_HEADER_XREF$|^OOVPA_SIG_HEADER_NO_XREF$|^OOVPA_SIG_HEADER_XREF_DETECT$|^OOVPA_SIG_HEADER_NO_XREF_DETECT$|^OOVPA_SIG_HEADER_XREF_EXTEND$
MacroBlockEnd: ^OOVPA_END$|^OOVPA_SIG_MATCH$|^OOVPA_SIG_MATCH_DUMMY$
MaxEmptyLinesToKeep: '2'
PointerAlignment: Left
SortIncludes: 'false'
UseTab: Never

...
